html {

}

.content {
  border:1px dashed cornflowerblue;
  min-height: 700px;
}

.left, .right {
  margin:5px 0;
}

svg {
  display: block;
  margin: 0 auto;
}

.visual path {
   stroke: white;
   stroke-width: 0.2px;
 }
